body {
  font-family: Comfortaa;
}

.title {
  display: none;
}

.header-image {
  width: 100%;
  height: 400px;
  background: url("https://images.unsplash.com/photo-1605818363303-7073f9171de9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center center no-repeat;
  background-size: cover;
  text-align: left;
  position: relative;
}

.header-image span {
  padding: 5px 5px 5px 5px;
  background-color: #44AA99;
  opacity: 0.85;
  color: #1d1d1d;
  font-size: 22pt;
  line-height: 150%;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

div.topbox {
  display: flex
/*  table-position: fixed; */
}

div.topstat {
  display: table-cell;
  border-left: 8px solid #1d1d1d;
  width: 25%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat { 
    flex: 100%; 
  }
}

div.topbox2 {
  display: flex
/*  table-position: fixed; */
}

div.topstat2 {
  display: table-cell;
  width: 50%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat2 h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox2 { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat2 { 
    flex: 100%; 
  }
}

div.topbox3 {
  display: flex
/*  table-position: fixed; */
}

div.topstat3 {
  display: table-cell;
  border-left: 8px solid #1d1d1d;
  width: 33.33%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat3 h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox3 { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat3 { 
    flex: 100%; 
  }
}