body {
  font-family: Comfortaa;
}

div.topbox {
  display: flex
/*  table-position: fixed; */
}

div.topstat {
  display: table-cell;
  border-left: 8px solid #1d1d1d;
  width: 25%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat { 
    flex: 100%; 
  }
}

div.topbox2 {
  display: flex
/*  table-position: fixed; */
}

div.topstat2 {
  display: table-cell;
  width: 50%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat2 h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox2 { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat2 { 
    flex: 100%; 
  }
}

div.topbox3 {
  display: flex
/*  table-position: fixed; */
}

div.topstat3 {
  display: table-cell;
  border-left: 8px solid #1d1d1d;
  width: 33.33%;
  padding-left: 12px;
  padding-right: 8px;
  background-color: #ffffff;
  margin: 2px;
  text-align: left
}

.topstat3 h2 {
  color: #1d1d1d;
}

@media only screen and (max-width: 640px) {
  
  div.topbox3 { 
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  
  div.topstat3 { 
    flex: 100%; 
  }
}